div {
    border: 1px solid black;
}

.input-group {
    margin: 10px;
}

.card {
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;

}

.container {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}

h1, #savedCitiesSidebar {
    text-align: center;
}

.iconDiv {
    justify-content: center;
} 

.cityBtn {
    width: 100%;
}