
.input-group {
    margin: 10px;
}

.card {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    
}

div {
    background-color: lightblue;
    color: black;
}


.container {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}

h1, #savedCitiesSidebar {
    text-align: center;
}

.iconDiv {
    justify-content: center;
} 

.cityBtn {
    width: 100%;
}

#savedCitiesSidebar {
    height: 250px;
}

.weatherContainer {
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
 
}

#forecastCardCell {
    background-color: grey;
}

p span {
    color: white;
}

.cityBtn {
    color: dimgray;
}

footer {
    text-align: center;
    margin: 0 auto;
}

